{% extends "main.html" %}

{% block content %}
    <div>title : {{title}}</div>
    <br>
    HELLO WORLD! 
    <br>
    여러분이 접속하신 이 사이트는 applesaltsky의 블로그입니다.
    <br>
    일할 때만 코딩하고, 집에선 vs code 손도 안 대니, 지인들이 제가 코딩 할 줄 아는지 의심해서, 하루 만에 만든 블로그입니다.
    <br>
    python, fastapi, sqlite3, html, css, 바닐라 자바스크립트만 가지고 만들었습니다. 
    <br>
    클라우드는 azure 썼습니다. azure app service F1 플랜 쓰고 있어요. 무료 플랜인데 나쁘지 않아요. 쏠쏠합니다.
    <br>
    react, vue, tailwind 등등 프론트 쪽 라이브러리 하나도 안 썼습니다. html, css, 바닐라 자바스크립트로 모든 것을 해결해야 낭만 넘치는 개발자라 할 수 있습니다. 
    <br>
    댓글 기능 넣을까 하다가, 넣어봐야 몇 명이나 댓글 달까 싶어서 안 넣었습니다. 
    <br>
    그래도 저한테 뭔가 피드백을 보내시고 싶으신 분들은 아래 깃허브가서 issue 올리세요.
    <br>
    블로그에 뭘 써볼까 하다가, 우선은 이 블로그를 만드는 방법을 설명하려고 합니다. 이 블로그 만드는 법 설명하고서, 소소하게 웹 개발 관련 지식들 공유드릴 거예요.
    <br>
    <br>
    이 블로그의 소스코드는 github에 있습니다. 
    <br>
    <a href="https://github.com/applesaltsky/keepsimple" target="_blank">https://github.com/applesaltsky/keepsimple</a>
{% endblock %}