{% extends "main.html" %}

{% block content %}
    <div>title : {{title}}</div>
    <br>
    <img src="data:image/png;base64, {{list_base64_images[0]}}"/>
    <br>
    HELLO WORLD! 
    <br>
    여러분이 접속하신 이 사이트는 applesaltsky의 블로그입니다.
    <br>
    나도 개발 블로그를 만들어보면 어떨까? 하다가 남들 하는 것처럼 티스토리나 velog 같은 거 쓰기엔 그래도 내가 개발자라는 놈인데 싶어서, 반나절 만에 만든 블로그입니다.
    <br>
    별로 쓸모 있는 일 한 것 같지는 않네요.
    <br>
    <img src="data:image/png;base64, {{list_base64_images[1]}}"/>
    <br>
    python, fastapi, sqlite3, html, css, 바닐라 자바스크립트만 가지고 만들었습니다. 
    <br>
    갈수록 웹 개발 스택이 복잡해지는 게 싫어서, 최대한 단순하게 만들어봤어요.
    <br>
    <img src="data:image/png;base64, {{list_base64_images[2]}}"/>
    <br>
    클라우드는 azure 썼습니다. azure가 github랑 연동이 잘 되서 썼어요. aws elastic beanstalk보다 편하고, github action 써보면, 거기서 못 나옵니다.    
    <br>
    <img src="data:image/png;base64, {{list_base64_images[3]}}"/>
    <br>
    azure app service F1도 azure를 고른 이유에요. 무료 플랜인데, 나쁘지 않아요. 쏠쏠합니다.
    <br>
    댓글 기능 넣을까 하다가, 넣어봐야 몇 명이나 댓글 달까 싶고, 일일히 관리할 자신도 없어서 안 넣었습니다.
    <br>
    저한테 뭔가 피드백을 보내시고 싶으신 분들은 아래 깃허브가서 issue 올리세요.
    <br>
    <br>
    우선은 이 블로그를 똑같이 만드는 방법을 설명하려고 합니다. 이 블로그 만드는 법 설명하고서, 소소하게 웹 개발 관련 지식들 공유드리려 합니다.
    <br>
    <br>
    이 블로그의 소스코드는 github에 있습니다. 가져다 쓰실 분은 마음대로 가져다 쓰세요. 저한테 말씀 주실 필요 없습니다.
    <br>
    나름 프레임워크 비슷하게 코드를 짜놔서, 간단하게 블로그 만드실 분들은 가져다 쓰시면 좋을 것 같습니다. 이 프레임워크 쓰는 법도 다음 탭에 적어둘게요.
    <br>
    <a href="https://github.com/applesaltsky/keepsimple" target="_blank">https://github.com/applesaltsky/keepsimple</a>
{% endblock %}