{% extends "main.html" %}

{% block content %}
    <div>title : {{title}}</div>
    <br>
    HELLO WORLD! 
    <br>
    여러분이 접속하신 이 사이트는 장우석의 블로그입니다.
    <br>
    회사 일할 때만 코딩하고, 집에선 파이선 손도 안 대니, 부모님이 제가 코딩 할 줄 아는지 의심을 자꾸 하셔서, 하루 만에 만든 블로그입니다.
    <br>
    프론트엔드 싫어합니다. react, bootstrap 아주 싫습니다. 
    <br>
    component? state? 트라우마 몰려오니까 그런 얘기 하지도 마세요. 회사에서 백엔드만 봅니다.
    <br>
    django 싫어합니다. 
    <br>
    spring은 더 싫어합니다. express, next js는 안 써봤습니다. 쓰게 되면 그것들도 싫어질 것 같네요.
    <br>
    rust 모릅니다. c++ 싫어하고, c는 더 싫어합니다. 최적화한다고 cython만지다가 석달만에 5키로 빠진 적이 있네요.
    <br>
    mongoDB, postgresql, mysql 싫어합니다. oracle 매우 싫어합니다. 
    <br>
    aws 잘 모르고, k8s 그냥 회사에서 하라는 대로 씁니다.
    <br>
    딥 러닝 모릅니다. 학생 때 수포자였습니다.
    <br>
    fastapi하고 sqlite3은 그나마 덜 싫어합니다.
    <br>
    fastapi는 flask랑 닮아서 좋아합니다. 
    <a href="https://product.kyobobook.co.kr/detail/S000001875067" target="_blank">'FLASK 기반의 파이썬 웹 프로그래밍'</a> 이라는 이지호 씨가 쓰신 책이 있는데, 그걸로 맨 처음 백엔드를 배웠어서 그렇습니다. 그 책 읽던 시절엔 제게 꿈이 있었지요.
    <br>
    이 사이트는 python, fastapi, html, css만 가지고 만들었습니다. 
    <br>
    귀찮아서 자바스크립트 한 줄도 안 넣었어요.
    <br>
     
    <hr>
    
{% endblock %}